
/* Didnt work-Loading a Self-Hosted Font with @font-face */
/* @font-face {
    font-family: "Bright";
    src: url('/static/css/bright-font.eot');
    src: url('/static/css/bright-font.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  } */





/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* whole elements */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */


div .container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}

body{
    position:relative;}

h1 {
padding-top:30px;
font-family: 'Khula', sans-serif;
}

h5 
{padding-top:30px;
padding-left: 30px;
font-family: 'Khula', sans-serif;
}

h2 {
    font-family: 'Khula', sans-serif;
}

p {
    font-family: 'Palanquin+Dark', sans-serif;
}


label {font-family: 'Khula', sans-serif;
    font-weight: bolder;
}

mark {
    color: black;
    opacity: .7; 
    text-decoration-color: #7E8C12;
}

a {
    color: #7E8C12;
}






/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* one off classes */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */


/* for all pages breadbrumbs */
.breadcrumb{
    padding: 15px 15px;
    opacity: .5;
    font-style: italic;
    font-size: smaller;
}

/* for muesum list */
.list-group-item{
    background-color: #7E8C12;
    opacity: .8;
}

/* patron profile hero info */
.dashboard {display:flex;
    padding-left:450px;}

.dashboard h3{font-size:3.8rem;}

/* collection repo page */
.media {
    position: relative;
    padding: 12px;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #E5E5E5;
    box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);    
    margin-bottom: .75rem;
    margin-left: .75rem;
    }


.media:hover {
    color:#E5E5E5;
    border: 2px solid rgba(0,0,0,.125);
    background-color: #252525;
    box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);    
}

.media a {
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-size: x-large;
}

.art-card div a{
    padding-left:17px;
}



/* modified BS css */
.col, .col-med-4, .col-sm-4{padding-left: var(--bs-gutter-x,.75rem);}

.stretched-link {color:#252525;}

.stretched-link:hover{color:#7E8C12;}

.card-img-top img{
    border-radius: 40.3rem;
}

.alert-success{
    background-color: #E5E5E5;
    color: #252525;
    border: 1px solid;
}



/* rounded outlined buttons across all pages */
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    border: 2px solid #7E8C12;
    background-color: #E5E5E5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:#7E8C12 !important;
}

.btn-outline-secondary, .btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    border: 2px solid #252525; 
    background-color: #E5E5E5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:#252525 !important;
}

.btn-outline-dark, .btn-outline-dark:hover, .btn-outline-dark:active, .btn-outline-dark:visited {
    border: 2px solid #E5E5E5; 
    background-color: #252525;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:#E5E5E5 !important;
}

.btn{
    border-radius: 33.3rem;
}

.btn:hover{
    border: 2px solid #E5E5E5; 
    color: #252525;
    background-color: #C09B6F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float:justified;
  }








/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* one-off id manip */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */


#art-img{
    width:25%;
    float:justified;
}

#sound-img{
        width:80px;
}
    
#white-text{color:#E5E5E5}

#pink-text{color:palevioletred;}


#coll-img{
   padding:.25rem;
   height:100px;
}






















/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* navbar mods */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */



#nav-img{
    width:250px;}

nav a{font-family: 'Khula', sans-serif;
    font-weight: 999;
    color: black;
    font-size:larger;
}

nav .active {
    background-color: #7E8C12;
    border-radius: 10px;
}

.navbar-brand {
    width:250px;
}

/* css animations for nav bar hover text underlining */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #252525;
 }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7E8C12;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
 }
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}















/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* rounded title boxes on patron profile, museum, 
collection and art deets */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */



.titlebox {
    border: 3px solid #E5E5E5 ;
    border-radius: 6px;
    width: 375px;
    height:60px;
    } 

.titlebox h3{
        justify-content: center;
        align-items: center;
        padding-left:8px;}

.titlebox2 {
    padding: 10px;
    border: 3px solid #252525 ;
    border-radius: 6px;
    width: 375px;
    height:60px;
    } 

.titlebox2 h3{
        justify-content: center;
        align-items: center;}
        









































/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* nav bar */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */


.navbar{padding-top: -14.5rem;
    padding-bottom: -25.5rem;}

.navbar-inner{
background-color: #E5E5E5;
padding-left: var(--bs-gutter-x,.75rem);
}

.navbar-text{
    color:#252525
}































/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* various bg images */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */


/* background images for homepage, login, logout and register */
.bg-image1 {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background-image: url('/static/img/backgrounds/background-canvas.png'); 
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-image2 {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background-image: url('/static/img/backgrounds/background-canvas2.png'); 
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-image3 {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background-image: url('/static/img/backgrounds/solange-bg2.png'); 
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-image4 {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background-image: url('/static/img/backgrounds/background-ernie_1.png'); 
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* collection, museum, audio guides */
.bg-image5 {
    display: flex;
    background-image: url('/static/img/backgrounds/background-pattern-green.png'); 
    background-size: cover;
    /* background-attachment: scroll;  */
    width: 100%;
    height: 100vh;
}

.bg-image7 {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background-image: url('/static/img/backgrounds/background-pattern-tan.png'); 
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* patron-profile */
.bg-image8 {
    background-image: url('/static/img/backgrounds/patron-profile.jpg'); 

    background-size: cover;
    width: 100%;
    height: 100vh;
}




























/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* popups */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */



*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup
{background-color: #E5E5E5;
    box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42); 
    width: 310px;
    padding: 5px 15px 5px;
    position: absolute; /*fixed*/
    transform: translate(-50%,-50%);
    left: 84%;
    top: 71%;
    border-radius: 23px;
    font-family: 'Kanit', sans-serif;
    display: none;
    text-align: center;}

.home-popup{background-color: #E5E5E5;
box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);
width: 518px;
padding: 8px;
position: absolute;
transform: translate(-50%,-50%);
left: 28%;
top: 75%;
border-radius: 9px;
font-family: 'Kanit', sans-serif;
display: none;
text-align: center;}

.popup i{
    display: block;
    padding: 0px 10px 0px;  
    margin-left: 225px;  
    background-color: transparent;
    font-size: 27px;
    color: #252525;
    border: none;
    outline: none;
    cursor: pointer;
}

.home-popup i{
    margin-left: 882px;
    background-color: transparent;
    font-size: 29px;
    color: black;
    border: none;
    outline: black;
    cursor: pointer;
}

.popup p{
    color: #252525;
    font-size: 13px;
    text-align: justify;
    line-height: 22px;
}
.home-popup p{
    color: #252525;
    font-size: 13px;
    text-align: justify;
    margin: 10px 0;
    line-height: 18px;
}

.home-popup h3{
    color: #252525;
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
    line-height: 18px;
}



























/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* cards */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */


 /* for museum, collections, audio guides an dpatron profile card displays  */
.card{ /*how i add horizontal space*/
    margin-bottom: .75rem;
    margin-left: .75rem;
}

 .art-card {
    /* background-color:#000000; */
    background-color: #E5E5E5;
    box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);    
    }
.audio-card {
/* background-color:#000000; */
background-color: #C09B6F;
box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);    
}

.museum-card{
/* background-color:#000000; */
background-color: #7E8C12;
box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);    
}

.collection-card{
    box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);    
    background-color:#584827;
    }

.oneoff-card{
    box-shadow: 10px 10px 15px -5px rgba(37, 37, 37 ,0.42);    
    background-color:#4b4c4d;
    border-radius: 50%;
 
    }

/* text only */
.cc-card {
    color:white;
    }


























/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* register */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */

#col1{
    width:500px;
    height:500px;
    padding-top: 150px;
}

#register-link {
    color: white;
}

#the-form{
    width:500px;height:500px;
    padding: 120px 10px;
}


#footer-text{
    font-size:14px;
    width:300px;}











/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */
/* footer */
/* ***************************************************** */
/* ***************************************************** */
/* ***************************************************** */



footer {
    padding:25px 0px;
    background-color: #E5E5E5;
    color:#4b4c4d;
    font-family: 'Khula', sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
   width: 100%;
  }

#footer-img{
    width:80px;}
/* 
  footer {font-family: 'Khula', sans-serif;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
} */
  
  footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  footer ul a:hover {
    opacity:1;
    color: white;
  }
  
  
  @media (max-width:767px) {
    footer .item {
      text-align:center;
      padding-bottom:20px;
    }
  }

  
  footer p {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
    color: #7E8C12;
    font-size:19px;
  }