{% extends 'base.html' %}

{% block title %} {{ arts.title | title  }} - Details{% endblock %}

{% block content %}
<head> 
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
        <li class="breadcrumb-item active"><a href="#">Art Details</a></li>
    </ul> 
</head>


<div class="row">
    <div class="col mx-5">
        <div class="container" style="padding: 1%; display: flex;
        justify-content: center;
        align-items: center;">
        {# allows for the upload of images, pdf's and audio as art-objects #}
        {% if '.pdf' in arts.img_path %} 
        <iframe src="{{arts.img_path}}#toolbar=0" width="100%" height="650px">
        </iframe>

        {% elif '.mp3' in arts.img_path %}
        <audio controls
                    src="{{arts.img_path}}">
                    <a href="{{arts.img_path}}"></a>
        </audio>
    
        {% elif '.png' in arts.img_path %}
        <img src=“{{arts.img_path}}” alt="Image coming soon! | Art by {{ arts.artist }}" style="width:25%;float:justified">
        {% elif '.jpeg' in arts.img_path %}
        <img src=“{{arts.img_path}}” alt="Image coming soon | Art by {{ arts.artist }}" style="width:25%;float:justified">
       
        {% elif '.gif' in arts.img_path %}
        <img src=“{{arts.img_path}}” alt="Image coming soon | Art by {{ arts.artist }}" style="width:25%;float:justified">
        {% else %}

        <img src="{{ arts.img_path}}" style="width:25%;float:justified"><br>

        {% endif %}

    </div></div>
       
<div class="row" style="padding-left:15%"> 
    <div class="col">
        <div class="row">
        <h1>{{ arts.title | title }}</h1></div>
        <strong>Description:</strong><p style="width: 100%">{{ arts.description }}</p></div>
    <div class="col pt-5">
        <p>
           <strong>Artist:</strong> {{ arts.artist }} 
                            <br><br><strong>Medium:</strong> {{ arts.medium | title  }} 
                            <br><br><strong>Era:</strong> {{ arts.era | title  }}</p>     
        <p>
              {% if "patron_id" not in session %}
                <button id="addartfave" value="{{arts.id}}" class="btn btn-outline-dark btn-block mb-4">Add to favorites </button>
            {% else %}
            <button id="addartfave" value="{{arts.id}}" class="btn btn-outline-dark btn-block mb-4">Add to favorites </button>
            <button id="removeartfave" value="{{arts.id}}" class="btn btn-outline-dark btn-block mb-4">Remove as favorite </button>
            {% endif %}
            
              </p>
    </div>
</div>


</div>


{% endblock %}






{% block script %}
<script src="/static/js/artobject_favorite.js"></script>  {% endblock %}