<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/hb_favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/hb_favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/hb_favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/img/hb_favicon/site.webmanifest">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        
        <!-- Google Font API -->
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Khula:wght@300&family=Palanquin+Dark:wght@700&display=swap" rel="stylesheet">
            <style>
            @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Khula:wght@300&family=Palanquin+Dark:wght@700&display=swap&effect=font-effect-outline');
            </style> 
        
        <!-- Your custom styles -->
        <link rel="stylesheet" href="/static/css/mystyles.css">

        <!-- Navbar - cant get dropdown to work quite yet-->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-inner">

            <a class="navbar-brand" href="/"><img src="/static/img/hb-navbar-text2.png" alt="HabitualBe Logo" id="nav-img"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-nav" id="navbarNav">
                <a class="nav-item nav-link hover-underline-animation" href="/">Home </a>
                <a class="nav-item nav-link hover-underline-animation" href="/collections">The Collection</a>
                <a class="nav-item nav-link hover-underline-animation" href="/museumdirectory">Museums</a>
                <a class="nav-item nav-link hover-underline-animation" href="/audio-guides">Virtual Audio Guides</a>
                {% if "patron_id" in session %}
                <a id="leave-museum" class="nav-item nav-link hover-underline-animation" href="{{ url_for('logout') }}" action="/logout">Logout</a>
                <a class="nav-item nav-link hover-underline-animation" href="/profile">Profile</a>
                {% elif "patron_id" not in session %}
                <a class="nav-item nav-link hover-underline-animation" href="/login">Login</a>
                <a class="nav-item nav-link hover-underline-animation" href="/register">Register</a>
                {% endif %}
                <a class="nav-item nav-link disabled" href="#">Coming Soon!</a>
            </div>
        </nav>
    </head>
    <body>

    {% block content %}{% endblock %}

    <footer>
    <div class="container">

        
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
                <ul>
                    <li>
                        <img src="/static/img/hb_favicon/apple-touch-icon.png" alt="HabitualBe Logo" id="footer-img">
                    </li>
                </ul>
            </div>



            <div class="col-sm-4 col-md-3 item">
                <h3>Repositories</h3>
                <ul>
                    <li><a href="/museumdirectory">Museums</a></li>
                    <li><a href="/collections">The Collection</a></li>
                    <li><a href="/audio-guides">Audio Guides</a></li>
                </ul>
            </div>
            
            <div class="col-sm-4 col-md-3 item">
                <h3>More Site Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>

            <div class="col-lg-3 item">
                <p>Erikka Polk's Hackbright Engineering <br>Final Project! © 2022</p>
            </div>
        </div>
    </div>
    </footer>

    {% block script %} 
    <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/alerts.js"></script>
    {% endblock %}

</body>
</html>

