<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Your custom styles -->
        <link rel="stylesheet" href="/static/css/mystyles.css">
</head>
<body><div class="container">{# Display flash messages, if any, for all pages #}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class='flashes'>
        {% for message in messages %}<li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
  <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
  {% endblock %}<script src="/static/js/bootstrap.bundle.min.js"></script>
  <div class="row">
  <footer>Erikka Polk's Hackbright Engineering Final Project! 2022</footer></div>
{% block script %}</div>{% endblock %}
</body>
</html>

