{% extends 'base.html' %}

{% block title %} {{ collection.name }} - Details{% endblock %}

{% block content %}
<h1>Individual Collection:</h1>
<h2>{{ collection.name }}</h2>
<p>
    HIIIIII
    {{ collection.description }}
</p>
<p>
    <button value="{{collection.id}}">Add to favorites </button>
    
</p>
<p>
    this pages main feat needs to be to display all the assoc. art!! be it in cards etc...this will be where the API shines
    <button value="{{collection.id}}">Add to favorites </button>
    
</p>

{% endblock %}
{% block script %}
<script src="/static/js/collection_favorite.js"></script>  
{% endblock %}

<div class="row">
    <div class="col">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/collections">View all collections</a></li>
        <li><a href="/museumdirectory">View all museums</a></li>
        <!--<li><a href="/audio-guide">View all audio guides</a></li> -->
        </ul>
    </div>
    </div>