{% extends 'base.html' %}
{% block title %}Collections{% endblock %}

{% block content %}
<div class="bg-image5">
   
    <div class="row">
        <div class="col col-med-6">
            <h1>The Collection</h1>
            <p>
            HabitualBe's digital collections reflect the rich diversity of the natural and cultural world, as well as the shared heritage of Black Americans and Africans in the diaspora.
            </p></div>
            <div class="col col-med-6"><p>These resources can be used by academics and researchers from all around the nation to advance our understanding of Black streams of consciousness and life. 
            </p></div>
        </div>
    
    <div class="row">
   <!-- testing media objects -->
   <div class="col overflow-auto">
    {% if collections %}
    {% for collection in collections %}
    
   <div class="media position-relative art-card">
    <img src="/static/img/footer.png" class="mr-3 w-100" alt="...">
    <div class="media-body">         
      <a href="/collections/{{collection.id}}" class="stretched-link">{{ collection.name }}</a>
    </div>
    </div>
    
        {% endfor %}
        {% endif %} 
    </div> 
        </div>
       
</div>













{% endblock %}
