{% extends 'base.html' %}

{% block title %} {{ collection.name | title  }} - Details{% endblock %}

{% block content %}












    <head> 
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/collections">Collections</a></li>
            <li class="breadcrumb-item active">Collection Details</li>
        </ul> 
    </head>










    {# collection detail info #}
    <div class="row">
        <div class="col">
            <h1>{{ collection.name | title  }}</h1>
            <p>
                {{ collection.description }} <br><br> Tags: <strong>{{ collection.coll_category | title  }}</strong></p>
                <p class="card-text">Curator: <strong>{{ collection.curator | title }}</strong></p>
                <p class="card-text">Era: <strong>{{ collection.era | title  }}</strong></p>
            </p>
            <p>
                {%if "patron_id" not in session %}
                <button id="addfave" value="{{collection.id}}" class="btn btn-outline-primary btn-block mb-1">Add to favorites </button>
                
                {% else %}
                <button id="addfave" value="{{collection.id}}" class="btn btn-outline-primary btn-block mb-1">Add to favorites </button>
                <button id="removefave" value="{{collection.id}}" class="btn btn-outline-primary btn-block mb-1">Remove as favorite </button>
                {% endif %}
            </p>
        </div>
    </div>






    <div class="row">
        <div class="col">
            <br>
            <div class="titlebox2" style="width:280px;"><h3>Art in Collection</h3></div>
            <br>
        </div>
    </div>



    {# ART COLLECTION #}
    <!-- start of art in collection obj -->

    <div class="row">
        <div class="col">
        
        {# used collection objects sqlalchemy magic variable #}
        
        <div class="row">  
        {% for artincollection in collection.art_object %}
            <div id="collectionfavecard" class="card art-card" style="width:21rem;float:justified">
                <div class="card-body">
                    
                        <img class="card-img-top" src="{{ artincollection.img_path}}" alt="Card image cap" style="width:100%;float:justified"><br>
                        
                        <p class="card-text">
                            <br>Artist: {{ artincollection.artist }} 
                        </p>
                        
                        <p>
                            {% if "patron_id" not in session %}
                            {# need this button info to be from route that passes in art object #}
                            <button id="addartfave" value="{{art.id}}" class="btn btn-outline-primary btn-block mb-4">Add to favorites </button>
                            {% else %}
                            <button id="addartfave" value="{{art.id}}" class="btn btn-outline-primary btn-block mb-1">Add to favorites </button>
                            <button id="removeartfave" value="{{art.id}}" class="btn btn-outline-primary btn-block mb-2">Remove as favorite </button>
                            {% endif %}
<br>
                            <a href="/art/{{artincollection.id}}" class="btn btn-outline-secondary btn-block" role="button">See Up Close</a>
                        </p>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    
    </div>
     
       
    


















        {# SOUND COLLECTION #}
        <!-- start of sound in collection obj -->
        <div class="row">
            <div class="col">
                <br>
                <div class="titlebox2" style="width:350px;"><h3>Sounds in Collection</h3></div><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
        {# used collection objects sqlalchemy magic variable  #}
        
        <div class="row">  
        {% for sound in collection.related_sound %}
        <div id="collectionfavecard" class="card museum-card" style="width:18em;float:justified">
            <div class="card-body h-100">
                <h4 class="card-title"><i><span class=fave_id_{{ sound.id }}>"{{ sound.sound_name | title  }}"</span></i></h4>
                <img class="card-img-top" src="/static/img/audio-icon.png" alt="audio icon" style="width:80px;">
                <p class="card-text">
                    Medium: {{ sound.medium | title  }}<br>Era: {{ sound.genre | title  }}
                </p>
                
                <p>
                    {% if "patron_id" not in session %}
                    <!-- need this button info to be from route that passes in sound object-->
                    <button id="addsoundfave" value="{{sound.id}}" class="btn btn-outline-primary btn-block mb-4">Add to favorites </button>
                    {% else %}
                    <button id="addsoundfave" value="{{sound.id}}" class="btn btn-outline-primary btn-block mb-4">Add to favorites </button>
                    <button id="removesoundfave" value="{{sound.id}}" class="btn btn-outline-primary btn-block mb-1">Remove as favorite </button>
                    {% endif %}

                    {# link to audio guide by id page for more details #}
                    <a href="/audio-guides/{{sound.id}}" class="btn btn-outline-secondary btn-block mb-1" role="button">Go to Audio</a>
                </p>
            </div>
        </div>
        {% endfor %}<br><br>
        </div></div>
    </div>











{% endblock %}










    {% block script %}
    <script src="/static/js/collection_favorite.js"></script>  
    <script src="/static/js/artobject_favorite.js"></script>  
    <script src="/static/js/sound_favorite.js"></script> 
    <script src="/static/js/details.js"></script>  
    {% endblock %}
