{% extends 'base.html' %}
{% block title %}Collections{% endblock %}

{% block content %}

  <h2>Collections List</h2>
  <p>I'm a paragraph!</p>
  Hi user!
{% if collections %}
  You're so:
  <ul>
    {% for collection in collections %}
      <li>
        <a href="/collections/{{collection.id}}">
            {{ collection.name }}, {{ collection.coll_category }}, {{ collection.curator }}, {{ collection.era }}
        </a>
        <br><br>

      </li>

    {% endfor %}
  </ul>
{% endif %}



{% endblock %}