{% extends 'base.html' %}

{% block title %} {{ sound.sound_name | title  }} - Details{% endblock %}

{% block content %}

<div class="container">
<head> 
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/audio-guides">Audio Guides</a></li>
        <li class="breadcrumb-item active">Audio Guide Details</li>
    </ul> 
</head>



<div class="col">
    <h1>{{ sound.sound_name | title  }}</h1>
        <p>
        <strong>Medium:</strong> {{ sound.medium | title  }}<br><strong>Description:</strong> {{ sound.description }} <br><strong>Genre:</strong> {{ sound.genre | title }}
        </p>

    <p>
        {# AUDIO PLAYER #}

            <audio class="audio-mobile" controls
                src="{{ sound.sound_source}}">
                <a href="{{ sound.sound_source}}"></a>
            </audio>
<br>

        {% if "patron_id" not in session %}
        <button id="addsoundfave" value="{{sound.id}}" class="btn btn-outline-dark btn-block mb-2">Add to favorites </button>
        {% else %}
        <button id="addsoundfave" value="{{sound.id}}" class="btn btn-outline-dark btn-block mb-2">Add to favorites </button>
        <button id="removesoundfave" value="{{sound.id}}" class="btn btn-outline-dark btn-block mb-2">Remove as favorite </button>
        {% endif %}
    
       
    </p></div>
{% endblock %}

{% block script %}
<script src="/static/js/sound_favorite.js"></script>  
{% endblock %}




