{% extends 'base.html' %}
{% block title %}Mobile Audio Guide{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
        <h1>Mobile First Audio Guide</h1>            
            <p>
                {% if sounds %}
                {% for sound in sounds %}
                <div class="list-group">
                <a href="/audio-guides/{{sound.id}}" class="list-group-item list-group-item-action ">
                    Name: {{ sound.sound_name }} <br> Medium: {{ sound.medium }}
                </a>
                <br>
                {% endfor %}
                {% endif %}
            </p>
        </div>


        </div>
   

    <br><br>

    <div class="row">

        <p>row 2</p>
        <div class="col">

            <p>col1</p>
        </div>
        <div class="col">

            <p>col2</p>
        </div>
    
    </div><br>
{% endblock %}