{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="bg-image1">
    <p>
        <form class="form-inline t-5" action="/login" method="POST">
            
            <div class="row">
                <div class="col">
                {# Username #}
                    <div class="form-outline">
                        <label class="form-label" for="PatronId">Patron ID</label>
                    <input type="text" name="username" id="PatronId" class="form-control" />
                    </div>
                </div>

                <div class="col">
                    <div class="form-outline">    
                    {# Password #}
                    <label class="form-label" for="Password">Password</label>
                    <input type="password" name="password" id="Password" class="form-control" />
                    </div>
                </div>
                
            </div><br>

            <div class="text-center"> 
                {# Submit button #}
                <input type="submit" class="btn btn-outline-primary btn-block mb-4" value="Login">
                
                {# Testers #}
                <p id="pink-text">Testing my Web App? <br>
                Patron ID: <em>testpatron</em> | Password: <em>1234</em>
                </p>

                {# Register Link #}
                <p>Not a patron? 
                    <a href="/register">Register here. It's free!</a>
                </p>
            </div>

        </form>
    </p>
</div>
{% endblock %}