{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h5>Navigation</h5>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Create an account</a></li>
        <li><a href="/collections">View all collections</a></li>
        <li><a href="/museumdirectory">View all museums</a></li>
        <!--<li><a href="/audio-guide">View all audio guides</a></li> -->
        </ul>
    </div>
    </div>

  <h1>Login Page</h1>
  <p><form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username">
  
    <label>Password:</label>
    <input type="text" name="password">
  
    <input type="submit" value="See Patron Profile">
  </form></p>

  
{% endblock %}