<!-- testing if art shows up in collection deets here for now -->

{% extends 'base.html' %}

{% block title %} {{ collection.name }} - Details{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
        <h1>Individual Collection:</h1>
        <h2>{{ collection.name }}</h2>
                <p>
                    {{ collection.description }}
                </p>
                <p>
                    {% if session["patron_id"] %}
                    <button id="addfave" value="{{collection.id}}">Add to favorites </button>
                    <button id="removefave" value="{{collection.id}}">Remove as favorite </button>
                    {% else %}
                    <button id="login2addfave" value="{{collection.id}}">Add to favorites </button>{% endif %}
                </p>
                <p>
                    this pages main feat needs to be to display all the assoc. art!! be it in cards etc...this will be where the API shines
                </p>
                <br>
        </div>
    </div>







    <div class="row"><h3>Art in Collection</h3></div>
<div class="row">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Art</h5>
          <p class="card-text"> This will be dynamic art object description</p>
          <button class="btn btn-primary">Details</button>
        </div>
      </div><br>

      <div>

        <p>
            {% if artincollection %}
            {% for art in artincollection %}
            <div class="list-group">
            <a href="/collections/{{collection.id}}/art" class="list-group-item list-group-item-action ">
                {{ art.title }}
            </a>
            <br>
            {% endfor %}
            {% endif %}
        </p>


      </div>








    <div class="row"><h3>Sounds in Collection</h3></div>
    <div class="row">add audio from js in here or amplify.js</div>
    <br><br>
{% endblock %}

{% block script %}
<script src="/static/js/collection_favorite.js"></script>  
<script src="/static/js/details.js"></script>  
{% endblock %}

