{% extends 'base.html' %}
{% block title %}Museum List{% endblock %}

{% block content %}
<div class="bg-image6">
    <div class="row overflow-auto">
        <div class="col">
        <h1>Partner Museums</h1>
        <p> Browse our list and locate a Black-American or African museum in the U.S.
            <br><br>
            Some partners offer <mark>free</mark> or <mark>handsomely discounted</mark>  entrance to HabitualBe members, while others do not and are not required to.
            It is recommended to call the museum you intend to visit and ask the information desk.
            <br><br>
            Inaccurate details about a partner museum?
            {% if "patron_id" not in session %}
            Reach out to our <a href="erikkaincolor+hackbrightapp@gmail.com">team</a>.
            {% else %}
            <br>If you work for a partner museum, you can edit information in the museum organizer part of your <a href="/profile">Patron Profile</a>
            .
            {% endif %}
            <br>
        </p>
                {% if museums %}
                {% for museum in museums %}
                <div class="list-group">
                <a href="/museumdirectory/{{museum.id}}" class="list-group-item list-group-item-action px-3 border ripple">
                    {{ loop.index }}. {{ museum.name }} | {{ museum.state }}</a>
                </div>
                {% endfor %}
        </p>
        </div>
    
{% endif %}</div>
</div>
{% endblock %}
