{% extends 'base.html' %}

{% block title %}{{ patron.uname }}'s Profile{% endblock %}

{% block content %}



<div class="row">
<div class="col">
    <h2>Hi, {{ patron.uname }}!</h2>
    <h2>Patron info:</h2>
    <p><br>
        Artist name: {{ patron.uname }}<br>
        First name: {{ patron.fname }}<br>
        Last name: {{ patron.lname }}<br>
        Email: {{ patron.email }}<br>
        Password: **** **** ****<br>
    </p>
</div>
</div>

<div class="row">
    <h2>Favorites</h2><br>
    <div class="col-med-4">
    <!-- start of museum faves -->
    <h5>Museum Favorites</h5>
<!-- yes, i passed patron object in from view function -->
    {% for museumfave in patron.museum_fave %}
    <div id="museumfavecard" class="card" style="width:18em;float:left">
    <div class="card-body">
      <h5 class="card-title"><i>Museum Fave</i></h5>
        <div>
        <p><p>
                <img class="card-img-top" src="..." alt="Card image cap"><br>
                <!-- ^^might have some type of colored strip indicating what type it is? -->
                <!-- img could be inside or outside..if museum has color then -->
                Name:<span class=fave_id_{{ museumfave.id }}> {{ museumfave.name }} </span>
                {% if session["username"] == patron.uname %}
                <!-- would logged in an items favorited show anything? -->
                <p class="card-text">
                    Location: {{ museumfave.city }}, {{ museumfave.state }}<br><br> 
                    <a href="{{ museumfave.weburl }}">More info</a></p>
                <button class="btn btn-primary">See museum</button> 
                <!-- on click, it can go to  /museumdirectory/<id> via JS-->
                {% endif %}
        </p></p>
        </div>
    </div>
    </div>
    {% endfor %}<br><br>
    </div>
</div>
<!-- end of museum faves -->



<div class="row">
<div class="col-med-4">
<!-- start of collection faves -->
<h5>Collection Favorites</h5>
<!-- yes, i passed patron object in from view function -->
    {% for collectionfave in patron.collection_fave %}
    <div id="collectionfavecard" class="card" style="width:18em;float:left">
    <div class="card-body">
      <h5 class="card-title"><i>Collection Fave</i></h5>
        <div>
        <p><p>
                <img class="card-img-top" src="..." alt="Card image cap"><br>
                <!-- ^^might have some type of colored strip indicating what type it is? -->
                <!-- img could be inside or outside..if museum has color then -->
                Name:<span class=fave_id_{{ collectionfave.id }}> {{ collectionfave.name }} </span>
                {% if session["username"] == patron.uname %}
                <!-- would logged in an items favorited show anything? -->
                <p class="card-text">
                    Deets: {{ collectionfave.coll_category }}, 
                    <br>Curator: {{ collectionfave.curator }}, 
                    <br>Curator: {{ collectionfave.description }}
                    <br>Era: {{ collectionfave.era }}
                    </p>
                <button class="btn btn-primary">See collection</button> 
                <!-- on click, it can go to  /collection/<id> via JS-->
                {% endif %}
        </p></p>
        </div>
    </div>
    </div>
    {% endfor %}<br><br>
    </div>
</div>
<!-- end of collection faves -->




<div class="row">
    <div class="col-med-4">
<!-- start of collection faves -->
<h5>Favorite Art Pieces</h5>
<!-- yes, i passed patron object in from view function -->
    {% for museumfave in patron.museum_fave %}
    <div id="museumfavecard" class="card" style="width:18em;float:left">
    <div class="card-body">
      <h5 class="card-title"><i>Museum Fave</i></h5>
        <div>
        <p><p>
                <img class="card-img-top" src="..." alt="Card image cap"><br>
                <!-- ^^might have some type of colored strip indicating what type it is? -->
                <!-- img could be inside or outside..if museum has color then -->
                Name:<span class=fave_id_{{ museumfave.id }}> {{ museumfave.name }} </span>
                {% if session["username"] == patron.uname %}
                <!-- would logged in an items favorited show anything? -->
                <p class="card-text">
                    Location: {{ museumfave.city }}, {{ museumfave.state }}<br><br> 
                    <a href="{{ museumfave.weburl }}">More info</a></p>
                <button class="btn btn-primary">See museum</button> 
                <!-- on click, it can go to  /museumdirectory/<id> via JS-->
                {% endif %}
        </p></p>
        </div>
    </div>
    </div>
    {% endfor %}<br><br>
    </div>
</div>
<!-- end of Art Object faves -->




<div class="row">
    <div class="col-med-4">
<!-- start of sound faves -->
<h5>Audio Favorites</h5>
<!-- yes, i passed patron object in from view function -->
    {% for museumfave in patron.museum_fave %}
    <div id="museumfavecard" class="card" style="width:18em;float:left">
    <div class="card-body">
      <h5 class="card-title"><i>Museum Fave</i></h5>
        <div>
        <p><p>
                <img class="card-img-top" src="..." alt="Card image cap"><br>
                <!-- ^^might have some type of colored strip indicating what type it is? -->
                <!-- img could be inside or outside..if museum has color then -->
                Name:<span class=fave_id_{{ museumfave.id }}> {{ museumfave.name }} </span>
                {% if session["username"] == patron.uname %}
                <!-- would logged in an items favorited show anything? -->
                <p class="card-text">
                    Location: {{ museumfave.city }}, {{ museumfave.state }}<br><br> 
                    <a href="{{ museumfave.weburl }}">More info</a></p>
                <button class="btn btn-primary">See museum</button> 
                <!-- on click, it can go to  /museumdirectory/<id> via JS-->
                {% endif %}
        </p></p>
        </div>
    </div>
    </div>
    {% endfor %}<br><br>
    </div>
</div>
<!-- end of sound faves -->



<!-- area for testing dell tabs!! -->

<!-- testing!! -->


{% endblock %}

{% block script %}
<script src="/static/js/details.js"></script>  
{% endblock %}