{% extends 'base.html' %}

{% block title %}{{ patron.uname | title  }}'s Profile{% endblock %}

{% block content %}

<div class="bg-image8 overflow-auto">



<!-- if time, add circular bordered picture via API-->




    <div class="row" id="white-text">
        <div class="col col-med-6 pb-5"><br><br>
            <h2><em>What's happening</em><br>{{ patron.uname }}?</h2><br>
            <h2>Patron info:</h2>
            <p>
                Artist name: {{ patron.uname | title  }}<br>
                First name: {{ patron.fname | title  }}<br>
                Last name: {{ patron.lname | title  }}<br>
                Email: {{ patron.email }}<br>
                Password: **** **** ****<br>
            </p>
        </div>
    </div>



















    <div class="row">
        <div class="col pt-2">
            <div class="titlebox" style="width:271px;">
                <h3 id="white-text"> Museum Faves</h3></div><br>
        </div>
    </div> 

    {# MUSEUM FAVES #}
    <div class="row">
        <div class="col"> 

            <div class="row"> 
                {# using patron objects sqlalchemy magic var #}
                {% for museumfave in patron.museum_fave %} 
                <div id="museumfavecard" class="card audio-card" style="width:18em;"> 
                    <div class="card-body h-100"> 
                        <div style="padding-top: 20px;">
                            <p>
                                <img class="card-img-top" src="/static/img/specific-pages/museum-card.jpg" alt="generic museum graphic"><br><br>
                                Name:<span class=fave_id_{{ museumfave.id }}> {{ museumfave.name | title  }}</span><br>
                                
                                {% if session["username"] == patron.uname %}<br>
                                <a href="/museumdirectory/{{museumfave.id}}"><button class="btn btn-outline-secondary btn-block mb-1">View Museum</button></a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>  
                {% endfor %} 
            </div> 
        </div> 
    </div> 
    












    <div class="row">
        <div class="col"><br>
            <div class="titlebox" style="width:280px;">
                <h3 id="white-text"> Collection Faves</h3>
            </div><br>
        </div>
    </div>



    {# COLLECTION FAVES #}
    <div class="row">
        <div class="col">

            <div class="row">
                {# usinf patron objects magic var from sqlalchemy #}
                {% for collectionfave in patron.collection_fave %}
                <div id="collectionfavecard" class="card cc-card collection-card" style="width:18em;">
                    <div class="card-body h-100">
                        <div>
                            <p>
                                <img class="card-img-top mx-5" src="/static/img/specific-pages/coll-fave-card.png" alt="generic museum graphic" style="width:50%;"><br>
                                <span class=fave_id_{{ collectionfave.id }}>"{{ collectionfave.name | title  }}</span>"
                            {% if session["username"] == patron.uname %}
                            <p class="card-text">
                                {{ collectionfave.era | title  }}
                            </p>
                            <a href="/collections/{{collectionfave.id}}"><button class="btn btn-outline-secondary btn-block">View Collection</button></a>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
    
            </div>
        </div>
    </div>

















    <div class="row">
        <div class="col"><br>
            <div class="titlebox" style="width:180px;">
                <h3 id="white-text"> Art Faves</h3>
            </div><br>
        </div>
    </div>

    {# ART FAVES #}    
    <div class="row">
        <div class="col">

            <div class="row">
            {# passed in patron object and now using its sqlalchemy magic vars #}
            {% for artfave in patron.art_fave %}
                <div id="artfavecard" class="card art-card" style="width:18em; padding-top: 10px;">
                    <div class="card-body h-100">
                        <p class="card-text">
                            {% if '.pdf' in artfave.img_path %} 
                        <iframe class="card-img-top" src="{{artfave.img_path}}#toolbar=0" style="width:100%;float:justified">
                        </iframe>

                        {% elif '.mp3' in artfave.img_path %}
                        <img class="card-img-top" src="/static/img/audio-icon.png" alt="audio icon" style="width:40%;">
                       
                        <a href="{{artfave.img_path}}" class="btn btn-outline-secondary btn-block" role="button">Listen Again</a>
                       
                        {% elif '.png' in artfave.img_path %}
                        <img class="card-img-top" src=“{{artfave.img_path}}” alt="Art by {{ artfave.artist }}" style="width:100%;float:justified">
                        
                        {% elif '.jpeg' in artfave.img_path %}
                        <img class="card-img-top" src=“{{artfave.img_path}}” alt="Art by {{ artfave.artist }}" style="width:100%;float:justified">
                       
                        {% else %}
                        <img class="card-img-top" src="{{ artfave.img_path}}" alt="Card image cap" style="width:100%;float:justified"><br>
                        
                        {%endif%}

                                <span class="fave_id_{{ artfave.id }}">{{ artfave.title | title  }}</span><br><br>
                                {% if session["username"] == patron.uname %}
                                <a href="/art/{{artfave.id}}" class="btn btn-outline-secondary btn-block mb-1" role="button">Second Look</a>
                                {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>












    <div class="row">
        <div class="col"><br>
            <div class="titlebox">
                <h3 id="white-text"> Favorite Related Audio</h3>
            </div><br>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="row">
            {# SOUND FAVES #}    
            
            {# used patron object from view func and used it ssqlalchemy magic vars #}    

            {% for soundfave in patron. related_sound_fave %}
                <div id="soundfavecard" class="card oneoff-card" style="width:20%; padding-top: 10px;">
                    <div class="card-body h-100">
                        <p class="card-text" id="white-text" style="margin-left: 25%;">             
                            "<span class="fave_id_{{ soundfave.id }}">{{ soundfave.sound_name | title }}</span>"<br><br>
                            {% if session["username"] == patron.uname %}
                            <img class="card-img-top" src="/static/img/audio-icon.png" alt="audio icon" style="width:80px;"><br><br> 
                            <a href="/audio-guides/{{soundfave .id}}"><button class="btn btn-outline-secondary btn-block mb-1">Listen</button></a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
























</div>
{% endblock %}


{% block script %}
<script src="/static/js/details.js"></script>  
{% endblock %}